<nav>
  <ul>
    <li> <a routerLink="home">Home</a></li>
    <h2>Demonstration</h2>
    <li> <a routerLink="demo1">Bindings</a></li>
    <li> <a routerLink="demo2">Pipes</a></li>
    <li> <a routerLink="demo-directive">directive</a></li>
    <li> <a routerLink="demo-input-output">input - output</a></li>
    <li> <a routerLink="demo-service">service</a></li>
    <li> <a routerLink="demo-formulaire">Formulaire</a></li>

    <h2>Exercice</h2>
    <li> <a routerLink="exercice1">Bouton + ou -</a></li>
    <li> <a routerLink="exercice2">Timer</a></li>
    <li> <a routerLink="exercice3">Article list</a></li>
    <li> <a routerLink="exercice4">input - output</a></li>
    <li> <a routerLink="exercice5">Service et Injection</a></li>
    <li> <a routerLink="exercice6">Mise a jour formulaire produit</a></li>
  </ul>
</nav>
